@font-face {
  font-family: "Atkinson";
  src: url("../assets/AtkinsonHyperlegible-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Atkinson";
  src: url("../assets/AtkinsonHyperlegible-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Atkinson";
  src: url("../assets/AtkinsonHyperlegible-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Atkinson";
  src: url("../assets/AtkinsonHyperlegible-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
#cursor {
  height: 10px;
  width: 10px;
  background-color: black;
  border-radius: 50%;
  display: block;
  position: fixed;
  z-index: 1;
  pointer-events: none;
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1), border-radius 0.5s, width 0.2s, height 0.2s, -webkit-clip-path 0.4s;
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1), border-radius 0.5s, width 0.2s, height 0.2s, clip-path 0.4s;
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1), border-radius 0.5s, width 0.2s, height 0.2s, clip-path 0.4s, -webkit-clip-path 0.4s;
}

#cursor.block {
  border-radius: 0;
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1), border-radius 0.1s, width 0.2s, height 0.2s, -webkit-clip-path 0.4s;
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1), border-radius 0.1s, width 0.2s, height 0.2s, clip-path 0.4s;
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1), border-radius 0.1s, width 0.2s, height 0.2s, clip-path 0.4s, -webkit-clip-path 0.4s;
}

#cursor.alt {
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1), border-radius 0.1s, width 0.2s, height 0.2s, -webkit-clip-path 0.4s;
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1), border-radius 0.1s, width 0.2s, height 0.2s, clip-path 0.4s;
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1), border-radius 0.1s, width 0.2s, height 0.2s, clip-path 0.4s, -webkit-clip-path 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-clip-path: path("M 4 5M 4 5 c -1.6568 0 -3 1.3432 -3 3 V 32 c 0 1.6569 1.3432 3 3 3 h 2 v 4 c 0 0.388 0.2245 0.741 0.5758 0.9056 c 0.3514 0.1646 0.7663 0.111 1.0644 -0.1374 l 5.7218 -4.7682 H 97 c 1.6569 0 3 -1.3431 3 -3 V 8 c 0 -1.6568 -1.3431 -3 -3 -3 h -68 Z");
          clip-path: path("M 4 5M 4 5 c -1.6568 0 -3 1.3432 -3 3 V 32 c 0 1.6569 1.3432 3 3 3 h 2 v 4 c 0 0.388 0.2245 0.741 0.5758 0.9056 c 0.3514 0.1646 0.7663 0.111 1.0644 -0.1374 l 5.7218 -4.7682 H 97 c 1.6569 0 3 -1.3431 3 -3 V 8 c 0 -1.6568 -1.3431 -3 -3 -3 h -68 Z");
}
#cursor.alt::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 100%;
  color: rgb(242, 242, 242);
  text-align: center;
  font-style: italic;
}

#cursor.c1 {
  background-color: rgb(255, 178, 120);
}

#cursor.c2 {
  background-color: rgb(168, 56, 4);
}

#cursor.faded {
  opacity: 0.2;
}

#cursor-parent {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
}
#cursor-parent.shadow {
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.stack-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stack-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  min-width: 60px;
}

#svg1 .svg-elem-1 {
  stroke-dashoffset: 17.7099437714px;
  stroke-dasharray: 17.7099437714px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s, fill 0.7s ease 0.5s;
}

#svg1.active .svg-elem-1 {
  stroke-dashoffset: 0;
}

#svg1 .svg-elem-2 {
  stroke-dashoffset: 17.709939003px;
  stroke-dasharray: 17.709939003px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s, fill 0.7s ease 0.6s;
}

#svg1.active .svg-elem-2 {
  stroke-dashoffset: 0;
}

#svg1 .svg-elem-3 {
  stroke-dashoffset: 12.7703294754px;
  stroke-dasharray: 12.7703294754px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s, fill 0.7s ease 0.7s;
}

#svg1.active .svg-elem-3 {
  stroke-dashoffset: 0;
}

#svg1 .svg-elem-4 {
  stroke-dashoffset: 93.6241531372px;
  stroke-dasharray: 93.6241531372px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s, fill 0.7s ease 0.8s;
}

#svg1.active .svg-elem-4 {
  stroke-dashoffset: 0;
  fill: rgb(0, 0, 0);
}

#svg1 .svg-elem-5 {
  stroke-dashoffset: 11px;
  stroke-dasharray: 11px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s, fill 0.7s ease 0.9s;
}

#svg1.active .svg-elem-5 {
  stroke-dashoffset: 0;
}

#svg1 .svg-elem-6 {
  stroke-dashoffset: 17.7079632679px;
  stroke-dasharray: 17.7079632679px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s, fill 0.7s ease 1s;
}

#svg1.active .svg-elem-6 {
  stroke-dashoffset: 0;
}

#svg1 .svg-elem-7 {
  stroke-dashoffset: 6.7220096588px;
  stroke-dasharray: 6.7220096588px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s, fill 0.7s ease 1.1s;
}

#svg1.active .svg-elem-7 {
  stroke-dashoffset: 0;
}

#svg2 .svg-elem-1 {
  fill: transparent;
  transition: fill 0.7s ease 0.5s;
}

#svg2.active .svg-elem-1 {
  fill: rgb(0, 0, 0);
}

#svg2 .svg-elem-2 {
  fill: transparent;
  transition: fill 0.7s ease 0.6s;
}

#svg2.active .svg-elem-2 {
  fill: rgb(0, 0, 0);
}

#svg2 .svg-elem-3 {
  fill: transparent;
  transition: fill 0.7s ease 0.7s;
}

#svg2.active .svg-elem-3 {
  fill: rgb(0, 0, 0);
}

#svg2 .svg-elem-4 {
  fill: transparent;
  transition: fill 0.7s ease 0.8s;
}

#svg2.active .svg-elem-4 {
  fill: rgb(0, 0, 0);
}

#svg2 .svg-elem-5 {
  fill: transparent;
  transition: fill 0.7s ease 0.9s;
}

#svg2.active .svg-elem-5 {
  fill: rgb(0, 0, 0);
}

#svg2 .svg-elem-6 {
  fill: transparent;
  transition: fill 0.7s ease 1s;
}

#svg2.active .svg-elem-6 {
  fill: rgb(0, 0, 0);
}

#svg2 .svg-elem-7 {
  fill: transparent;
  transition: fill 0.7s ease 1.1s;
}

#svg2.active .svg-elem-7 {
  fill: rgb(0, 0, 0);
}

#svg2 .svg-elem-8 {
  fill: transparent;
  transition: fill 0.7s ease 1.2s;
}

#svg2.active .svg-elem-8 {
  fill: rgb(0, 0, 0);
}

#svg2 .svg-elem-9 {
  fill: transparent;
  transition: fill 0.7s ease 1.3s;
}

#svg2.active .svg-elem-9 {
  fill: rgb(0, 0, 0);
}

#svg2 .svg-elem-10 {
  fill: transparent;
  transition: fill 0.7s ease 1.4s;
}

#svg2.active .svg-elem-10 {
  fill: rgb(0, 0, 0);
}

#svg2 .svg-elem-11 {
  fill: transparent;
  transition: fill 0.7s ease 1.5s;
}

#svg2.active .svg-elem-11 {
  fill: rgb(0, 0, 0);
}

#svg2 .svg-elem-12 {
  fill: transparent;
  transition: fill 0.7s ease 1.6s;
}

#svg2.active .svg-elem-12 {
  fill: rgb(0, 0, 0);
}

#svg2 .svg-elem-13 {
  fill: transparent;
  transition: fill 0.7s ease 1.7s;
}

#svg2.active .svg-elem-13 {
  fill: rgb(0, 0, 0);
}

#svg3 .svg-elem-1 {
  stroke-dashoffset: 71.5519104004px;
  stroke-dasharray: 71.5519104004px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}

#svg3.active .svg-elem-1 {
  stroke-dashoffset: 0;
}

* {
  font-family: "Atkinson";
  font-weight: normal;
  font-style: normal;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: rgb(242, 242, 242);
  z-index: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Atkinson";
  font-weight: bold;
  font-style: normal;
  margin: 0;
  display: inline;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 20px;
  font-weight: normal;
}

h5 {
  font-size: 16px;
}

p {
  text-align: justify !important;
  margin: 0;
}

img {
  width: 50px;
  min-height: 50px;
}

img.small {
  width: 20px;
  min-height: 20px;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.i {
  font-style: italic;
}

.b {
  font-weight: bold;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: auto;
  padding: 30vh 0;
}

.big-card {
  width: 60%;
  min-height: auto;
  margin-bottom: 100px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  box-shadow: 0px 0px 0px 0px black;
  transition: 0.5s;
}

.big-card:hover {
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.6);
}

.big-card * {
  z-index: 3;
}

.big-card img {
  filter: invert(0.7);
  transition: 0.5s;
}

.big-card img:hover {
  filter: invert(1);
}

.card {
  width: 50%;
  min-height: 10vh;
  margin-bottom: 50px;
  padding: 20px;
  transition: 0.5s;
}

.card * {
  z-index: 3;
}

.card:hover {
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.6);
  background-color: white;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 0;
  gap: 5%;
}
.row :last-child {
  text-align: right;
}
.row ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.row ul li {
  display: inline;
}

.row-left {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.row-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

.pin {
  position: fixed;
  bottom: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.3);
  z-index: 3;
}
.pin.right {
  right: 0;
}
.pin.left {
  left: 0;
}

.d-btn {
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
}

.no-sel {
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */ /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
   supported by Chrome, Edge, Opera and Firefox */
}/*# sourceMappingURL=main.css.map */